@import 'reset.scss';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

$transparent: transparent;

$white: #FFFFFF;
$grey: #B8C2CC;
$grey-lightest: #f8f8f8;
$grey-lighter: #efefef;
$grey-light: #dadada;
$grey-dark: #8795A1;
$grey-darker: #949ea8;
$grey-darkest: #3D4852;
$black: #22292F;

$blue: #3490DC;
$blue-lightest: #EFF8FF;
$blue-lighter: #ccf0ff;
$blue-light: #3490dc;
$blue-dark: #2779BD;
$blue-darker: #266fb3;
$blue-darkest: #12283A;

$red: #B94848;
$red-lightest: #fcebea;
$red-lighter: #f9acaa;
$red-light: #EF5753;
$red-dark: #9b4e4e;
$red-darker: #621B18;
$red-darkest: #3B0D0C;

$orange: #F6993F;
$orange-lightest: #FFF5EB;
$orange-lighter: #FCD9B6;
$orange-light: #FAAD63;
$orange-dark: #DE751F;
$orange-darker: #613B1F;
$orange-darkest: #462A16;

$green: #38C172;
$green-lightest: #E3FCEC;
$green-lighter: #A2F5BF;
$green-light: #51D88A;
$green-dark: #1F9D55;
$green-darker: #1A4731;
$green-darkest: #0F2F21;

$border-radius-none: 0;
$border-radius-sm: .125rem;
$border-radius-default: .25rem;
$border-radius-lg: .5rem;
$border-radius-full: 9999px;

.user-input-label {
    padding-bottom: .2em;
    padding-top:.4em;
}

.user-input {
    margin-bottom:.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.25;
    padding-bottom: .5em;
    padding-left: .625em;
    padding-right: .625em;
    padding-top: .5em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    //box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn {
    margin-top: .5em;
    border-radius: $border-radius-default;
    text-decoration:none;
	  text-shadow:0px 1px 0px $green-darker;
    min-height:3em;
}

.btn:hover {
    filter: brightness(110%);
}

.btn-confirm {
    background-color: $green;
    border-color: darkgreen;
    color: white;
}

.error {
    border-color: red;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin: 0;
}

body {
    font-family: 'RobotoRegular';
    font-weight: normal;
    font-style: normal;
}

.router-btn {
    text-align:center;
    display: block;
    line-height:50px;
    margin-top: auto;
}

.router-link {
    cursor: pointer;
    padding-top: 1rem
}
